body {
  background-color: rgb(53,58,64);
}

.main-pdfview {
  height: 100vh;
}

.rpv-core__inner-page-container > div:first-child {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 10;
  overflow: hidden;
  overflow-y: scroll;
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  box-shadow: none;
}

.navbar-toggler-container {
  z-index: 20;
  background-color: rgb(33, 37, 41);
}

.navbar-toggler-container.iscollapsed {
  z-index: 20;
  background-color: rgba(205, 205, 205, 0.5);
}

.nav-item {
  text-align: left;
}

.nav-item svg {
  color: white;
  margin-right: 7px;
  height: 18px;
}

.nav-link {
  width: 230px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nav-signin-prompt {
  margin-bottom: 0.5rem;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.upload-section {
  padding: 10px 2px 2px 2px;
  border: 1px dashed #ddd;
  border-radius: 5px;
  cursor: pointer;
  background: #333;
}

.footer-nav {
  position: fixed;
  bottom: 0;
  text-align: center;
}

.pdf-viewer-container {
  height: calc(100vh - 55px);
  overflow: auto;
}

.right-sidebar {
  height: calc(100vh - 55px);
  overflow: auto;
}

.evidence-sidebar {
  height: calc(100vh - 55px);
  overflow: auto;
  background-color: rgb(65, 70, 75);
}

.right-sidebar-button {
  overflow: hidden;
}

.evidence-sidebar-button {
  overflow: hidden;
  cursor: pointer;
}
.evidence-sidebar-button:hover {
  opacity: 0.8;
}

.right-sidebar-item-margin-class-0 {
  margin-left: auto;
}
.right-sidebar-item-margin-class-1 {
  margin-left: 0px;
}

.jump-page-link:hover {
  opacity: 0.7;
}

.delete-search-query:hover::before {
  content: "";
  /* Create an invisible overlay */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  /* Transparent background */
  z-index: 2000;
  /* Ensure the overlay is above the .clickable-div */
  pointer-events: auto;
  /* Allow the overlay to capture pointer events */
}

.searchbar-pdftools-container {
  //bottom: 55px;
  background-color: rgb(65, 70, 75);
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.searchbar-container-inner {
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.pdftools-container-inner {
  margin-top: auto;
  
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchbar-buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plain-input {
  all: unset;
  border: 1px solid rgb(252, 253, 252);
  color: rgb(252, 253, 252);
  border-radius: 5px;
  width: 50px;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
    margin-top: 55px;
  }

  .nav-link {
    width: calc(100vw - 10px);
  }

  /* .nav-signin-prompt {
    width: calc(100vw - 25px);
  } */

  .right-sidebar-item-margin-class-1 {
    margin-left: 12px;
  }
}

@media (min-width: 991.98px) {
  .main-pdfview {
    padding-left: 240px;
  }
}

.sidebar-footer {
  font-size: 14px;
}

.sidebar-footer a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: rgb(70, 70, 70);
}

.sidebar-footer a:hover {
  color: #0d6efd;
}

.nav-signin-prompt-link {
  cursor: pointer;
}
.nav-signin-prompt-link:hover {
  color: #0d6efd;
}

