.footer {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px
}

.footer-element {
    outline: none;
    border: none;
    color: rgb(70, 70, 70);
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.footer-element:hover {
    opacity: 0.7;
}