.card {
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    transition: box-shadow 0.3s linear;
    background-color: rgba(255, 255, 255, 0.7);
}

.card-body {
    padding: 2rem;
}

.card-title {
    font-family: Open Sans;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-text {
    text-align: left;
}

.card-img-top {
    height: 3rem;
    margin-top: 2rem;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  